node_modules
# Keep environment variables out of version control
.env

/dist


# Jest coverage directory
coverage/

# Istanbul coverage directory
.nyc_output/

# Temporary coverage files
*.lcov
*.lcov.info
*.coverage
*.log